* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.main_container {
  max-width: 1000px;
  width: 80%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 80px 0;
}

body {
    font-family: sans-serif;
    padding: 10px;
}
h3 {
    font-weight: bold;
    display: inline-block;
  padding: 0;
  margin: 0;
}
.refresh {
    font-size: 80%;
    margin-left: 10px;
}
.header {
    background: #ECECEC;
    padding: 5px;
}
.suggestions {
    border: 2px solid #ECECEC;
}
li {
    padding: 5px;
}
li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
li .username, li .close {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 5px;
}
